<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Ban HN</title>
</head>
<body>

  <header>
    <nav class="container mx-auto flex items-start py-1 mt-4 sm:mt-12">
      <div class="cursor-pointer py-1"> <img src="{{user_image}}" alt="User Image" />
 </div>
      <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-bookmark-blue uppercase" >
        <li class="cursor-pointer hover:underline " >Inicio</li>
        <li class="cursor-pointer hover:underline " >Acerca</li>
        <li class="cursor-pointer hover:underline  " >Contactos</li>
        <button type="button" class="button3 text-black rounded-md px-7 py-3 uppercase dark:md:hover:bg-pink-600">Iniciar sesion </button>

      </ul>
      <div class="flex sm:hidden flex-1 justify-end ">
        <i class="fa-solid fa-bars"></i>
      </div>
    </nav>
  </header>

      <div class="container">
      <h1 class="text-3xl text-center">
        Bienvenidos al chatbot
      </h1>
      <div class=" flex items-center justify-center">
        <img src="{{ user_image2}}" alt="User Image" height="100px" width="100px" />
      </div>

      <h1 class="text-2xl text-center" >Como podemos ayudarte?</h1>

    </div>
   <div class="container text-center font-Poppins" >

      <h1 class=" py-4 text-green-600 text-2xl font-bold">Chatbot</h1>

      <h1 class="py-1">Preguntale a nuestro chatbot: </h1>
      <h1 class="py-1">Tarjetas de credito</h1>
      <h1 class="py-1">Estados de cuenta</h1>
      <h1 class="py-1 pb-6">Consultas de banca en linea</h1>
      <button class="uppercase text-white font-bold bg-green-600 rounded-md px-7 py-3 dark:md:hover:bg-green-800">Preguntar</button>

    </div>





<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Asistente Virtual</h4>
                    <p class="chatbox__description--header">Hola, soy el asistente virtual de BanHN ¿En que podria ayudarte?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Escriba un mensaje...">
                <button class="chatbox__send--footer send__button">Enviar</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>